/* =================== */
/*    ELEMENTS FIXE    */
/* =================== */

hr {
    border: 1px solid black;
    margin: 10px 0;
}

/* =================== */
/*       HEADER        */
/* =================== */

@font-face {
    font-family: acme;
    src: url(/Font/Acme-Regular.ttf);
}

h1 {
    font-family: acme;
}

.panier {
    color: rgb(45, 45, 176);
}

.malin {
    color: rgb(22, 120, 45);
}

/* =================== */
/*      PRODUITS       */
/* =================== */

/* CONTENEUR PRODUITS :  */

h2 {
    font-family: acme;
    margin: 10px 0;
}

#produits-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    margin: 0;
}

/* FICHE PRODUITS : */

.ficheProduit {
    background-color: lightcoral;
    width: 150px;
    text-align: center;
    border-radius: 20px;
}

.ficheProduit.fade-out {
    opacity: 0;
}

.ficheProduit.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}


/* =================== */
/*   PANIER PRODUITS   */
/* =================== */

/* FICHE PRODUITS PANIER : */

.listePanier {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    background-color: lightyellow;
}

.detailsProduit {
    padding: 10px;
}

.listePanier h3 {
    width: 150px;
}

.listePanier p {
    width: 140px;
    padding: 2px;
    margin: 0;
}

.listePanier button {
    width: 120px;
    border-radius: 10px;
    margin : 5px;
}

/* bouton ajout quantité */

.btnQuantitePlus {
    background-color: rgb(3, 88, 245);
    color: white;
    padding: 5px 0;
}

.btnQuantitePlus:hover {
    background-color: rgb(5, 127, 42);
}


/* bouton supprimer quantité */

.btnSupprQuantite {
    background-color: black;
    color: white;
    padding: 5px 0;
}

.btnSupprQuantite:hover {
    background-color: red;
}

/* bouton Supprimer produit */

.btnSupprProduit {
    background-color: black;
    color: white;
    padding: 5px 0;
}

.btnSupprProduit:hover {
    background-color: red;
}

/* Bouton vider panier */

#btn-vider-panier {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

#btn-vider-panier:hover {
    background-color: red;
}

/* ======================= */
/*    MEDIA QUERRIES       */
/* ======================= */

@media (max-width: 600px) {

    .listePanier {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid black;
        border-radius: 15px;
        gap: 0;
    }

    .detailsProduit {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        padding: 5px 0;
    }

    .btnPanier {
        display: flex;
        gap: 10px;
    }

    .btnPanier button {
        width: 50%;
    }


    .listePanier h3 {
        width: 100%;
        text-align: left;
        font-size: 18px;
        margin: 5px 0;
    }

    .listePanier p {
        width: auto;
        margin: 0;
    }

    .listePanier p:nth-of-type(1),
    .listePanier p:nth-of-type(2),
    .listePanier p:nth-of-type(3) {
        display: inline-block;
        font-size: 14px;
        margin-right: 0;
    }

    .listePanier button {
        width: 45%;
    }

    .btnSupprQuantite {
        margin-right: 4%;
    }
}

/* =================== */
/*     FORMULAIRE      */
/* =================== */

#message-feedback {
    color: red;
}

#message-validation {
    color: rgb(2, 78, 2);
    font-weight: 550;
}

#email-client {
    margin: 0 0 10px 0;

}

/* Bouton Passer la commande */

#btn-commander {
    background-color: rgb(7, 128, 193);
    color: white;
    border-radius: 10px;
    padding: 5px;
}

#btn-commander:hover {
    background-color: rgb(15, 108, 7);
}

/* ======================= */
/*    MEDIA QUERRIES       */
/* ======================= */

@media (max-width: 600px) {

    #email-client {
    width: 50%;
}
}
/* =================== */
/*       FOOTER        */
/* =================== */

footer {
    height: 15vh;
    background-color: cornsilk;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.p-footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin: 0;
    font-weight: 550;
    font-style: italic;
}