/* =================== */
/*    ELEMENTS FIXE    */
/* =================== */

hr {
    border: 1px solid black;
    margin: 10px 0;
}

/* =================== */
/*       HEADER        */
/* =================== */

@font-face {
    font-family: acme;
    src: url(/Font/Acme-Regular.ttf);
}

h1 {
    font-family: acme;
}

.panier {
    color: rgb(45, 45, 176);
}

.malin {
    color: rgb(22, 120, 45);
}

/* =================== */
/*      PRODUITS       */
/* =================== */

/* CONTENEUR PRODUITS :  */

h2 {
    font-family: acme;
}

#produits-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    margin: 0;
}

/* FICHE PRODUITS : */

.ficheProduit {
    background-color: lightcoral;
    width: 150px;
    text-align: center;
    border-radius: 20px;
}

.ficheProduit.fade-out {
    opacity: 0;
}

.ficheProduit.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* FICHE PRODUITS PANIER : */

.listePanier {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    background-color: lightyellow;
}

.listePanier h3 {
    width: 150px;
}

.listePanier p {
    width: 140px;
    margin: 0;
}

.listePanier button {
    width: 120px;
    border-radius: 10px;
}

.btnSupprQuantite {
    background-color: black;
    color: white;
}

.btnSupprQuantite:hover {
    background-color: red;
}

.btnSupprProduit {
    background-color: black;
    color: white;
}

.btnSupprProduit:hover {
    background-color: red;
}

/* FORMULAIRE : */

#message-feedback {
    color: red;
}

#message-validation {
    color: rgb(2, 78, 2);
    font-weight: 550;
}

/* =================== */
/*       FOOTER        */
/* =================== */

footer {
    height: 10vh;
    background-color: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.p-footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 550;
    font-style: italic;
}