/* CONTENEUR PRODUITS :  */

#produits-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* CARTE / FICHE PRODUIT : */

.ficheProduit {
    background-color: lightcoral;
    width: 150px;
    text-align: center;
}

.ficheProduit.fade-out {
    opacity: 0;
}

.ficheProduit.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* FICHE PRODUITS PANIER : */

.listePanier {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    background-color: lightyellow;
}

.btnSupprimer {
    background-color: black;
    color: white;
}

/* FORMULAIRE : */

#message-feedback {
    color: red;
}

#message-validation {
    color: rgb(2, 78, 2);
    font-weight: 550;
}